@page "/weather"
@using AspireWithDapr.Shared
@using Microsoft.Extensions.Logging
@using Microsoft.AspNetCore.Components.QuickGrid
@* @attribute [StreamRendering(true)]
@attribute [OutputCache(Duration = 5)] *@
@rendermode InteractiveServer
@inject ILogger<Weather> Logger
@inject WeatherApiClient WeatherApi

<PageTitle>Weather</PageTitle>

<h1>Weather</h1>

<p>This component demonstrates showing data loaded from a backend API service.</p>

<div style="display: flex; gap: 20px;">
    <div>
        <ul style="list-style-type: none; padding: 0;">
            @foreach (var city in SharedCollections.Cities)
            {
                <li style="margin-bottom: 8px;">
                    <button type="button" @onclick="() => SelectCity(city)" style="width: 150px; text-align: left;">@city</button>
                </li>
            }
        </ul>
    </div>

    <div style="flex: 1;">
        @if (forecasts == null)
        {
            <p><em>Loading...</em></p>
        }
        else
        {
            <QuickGrid Items="@forecasts.AsQueryable()" Class="table">
                <PropertyColumn Property="@(f => f.Date)" Title="Date" Format="d" Sortable="true" />
                <PropertyColumn Property="@(f => f.TemperatureC)" Title="Temp. (C)" Sortable="true" />
                <PropertyColumn Property="@(f => f.TemperatureF)" Title="Temp. (F)" Sortable="true" />
                <PropertyColumn Property="@(f => f.Summary)" Title="Summary" Sortable="true" />
            </QuickGrid>
        }
    </div>
</div>

@code {
    private string selectedCity = "";

    private WeatherForecast[]? forecasts;

    private async Task SelectCity(string city)
    {
        selectedCity = city;
        Logger.LogInformation("Getting weather forecast for {city}", selectedCity);
        forecasts = await WeatherApi.GetWeatherAsync(selectedCity);
    }
}
